@{
    ViewData["Title"] = "Restaurant - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<WikiPages.Models.Category>

<h2>WikiPages</h2>
<ul>
    @foreach (var category in Model)
    {
        <li>@Html.DisplayFor(_ => category.Name)</li>// _ = empty lambda parameter, since restaurant already exists in current scope

    }
</ul>
<p>@Html.ActionLink("Add new category", "Create")</p>