
@{
    ViewData["Title"] = "WikiPages - Restaurants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<WikiPages.Models.Restaurant>

<h2>Restaurants</h2>
<ul>
        @foreach(var restaurant in Model)
        {
            <li>@Html.DisplayFor( _ => restaurant.Name) | @Html.ActionLink("Details", "Details", new { id = restaurant.Id })</li>// _ = empty lambda parameter, since restaurant already exists in current scope

        }
</ul>
<p>@Html.ActionLink("Add new item", "Create")</p>